* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.slide {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 80vh;
  border: 1px solid black;
  z-index: 2;
  display: none;
}
.sliderImg {
  width: 100%;
  height: 100%;
}
.slide__exit,
.slide__right {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
  color: black;
  z-index: 2;
}
.slide__right {
  top: 50%;
}
.slide__left {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
  color: black;
  z-index: 2;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  min-height: 100vh;
  margin: auto;
  background-color: coral;
  z-index: 1;
}
.wrapper__div {
  flex-basis: 40%;
  height: 350px;
  margin: 30px auto;
  border: 1px solid black;
}
.wrapper__img {
  display: block;
  width: 100%;
  height: 100%;
  cursor: zoom-in;
  transition: 0.3s;
}
